<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>

        <main class="container">

            <form action="/signup" method="post">
                <div class="row justify-content-center text-center mt-5">
                    <div class="col-5">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="Enter your email..">
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="password..">
                            <label for="password">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                                placeholder="password..">
                            <label for="confirmPassword">ConfirmPassword</label>
                        </div>
                        <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
                        <button type="submit" class="btn btn-success">Signup</button>
                    </div>

                </div>

            </form>
        </main>


        <%- include('../includes/end.ejs') %>