<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-body">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: brown;">Mirror</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link <%= path === '/profile' ? 'active' : '' %>" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= path === '/add-thing' ? 'active' : '' %>" href="/add-thing">Add
                            Thing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>