<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>add thing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <form action="/add-thing" method="post">
            <div class="row justify-content-center text-center mt-5">
                <div class="col-6">
                    <h1>Add a thing</h1>
                    <div class="form-floating mb-3">
                        <select class="form-select" name="category" id="floatingSelect"
                            aria-label="Floating label select example">
                            <option value="movies" selected>Movies</option>
                            <option value="tv-shows">TV Shows</option>
                            <option value="books">Books</option>
                            <option value="songs">Songs</option>
                        </select>
                        <label for="floatingSelect">Choose a category</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="name" id="name" placeholder="example@test.com">
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" name="comment"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">type a Comment..</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>


        </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>